<div class="container-fluid">
    <div class="col-sm-12 main">
      <div class="row currentUser">
          {{ user.user }}
      </div>

        <div class="row currentBollone">
            {{> currentBollone }}
        </div>

        {{#each configuration.rows}}
            <div id="bolloniConfiguration" class="row placeholders">
                {{#each bolloni}}
                  {{> bollone}}
                {{/each}}
            </div>
        {{/each}}

        <div id="bolloniHistory" class="row">
            {{#each data.bolloni}}
                {{> bollone}}
            {{/each}}
        </div>
    </div>
</div>
